<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HireMe.DataAccess.OdbcProvider.Properties.Settings.HireMeConnectionString"
            connectionString="Data Source=|DataDirectory|\DataSource\HireMe.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="HireMe.DataAccess.OdbcProvider.Properties.Settings.HireMeDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DataSource\mydb.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="HireMe.DataAccess.OdbcProvider.Properties.Settings.mydbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\mydb.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>